@charset "UTF-8";

.saveplace-container{
	flex-grow: 1;
	margin-left: 8px;
	margin-bottom: 20px;
	display:block;
	min-width: 300px;
	width: 30%;
	min-height: 200px;
	height: fit-content;
}

.container-fluid {
	display: flex;
	height: 100%;
	flex-wrap: wrap;
}

.food-wrapper {
	display: flex;
	flex-wrap: wrap;
	min-height: inherit;
	border: 1px solid grey;
	border-radius: 5px;
	padding: 10px;
}

.food {
	position:relative;
	display:inline-block;
	margin-right: 5px;
	margin-left: 5px;
	margin-bottom: 8px;
	height: fit-content;
}


.food img {
	width: 50px;
	height: 50px;
	cursor: pointer;
}

.food span {
	cursor: pointer;
	display:block;
	width: 50px;
	text-align: center;
	vertical-align: middle;
	text-overflow: clip;
	font-size: 10px;
}

.delete-mode {
	opacity: 40%;
}

.modal-label {
	min-width: 100px;
	text-align: right;
	padding-right: 10px;
	line-height: calc(1.5em + 0.75rem + 2px);
}

.input-item {
	height: calc(1.5em + 0.75rem + 2px);
	width: 50%;
}

.checkbox-none{
	display: none;
}

.savefood-remain-day{
	position: absolute;
	top: -5px;
	right: -5px;
	width: 20px;
	height: 20px;
	border: 1px solid white;
	border-radius: 10px;
	color: white;
	text-align:center;
}

.savefood-remain-day span{
	display:inline-block;
	text-align: center;
	position: relative;
	width: auto;
	height: auto;
	top: -6px;
}

.savefood-danger {
	background: #dc3545;
}

.savefood-warning {
	background: #ffc107;
}

.savefood-safe {
	background: #28a745;
}

.btn-hidden {
	display: none;
}

.unselected-fridge {
	display: none;
}
